<div class="row" style="width: 100%; height: 100%; margin: 5%;">
   
    <div class="col-md-2"></div>

    <div class="col-md-6">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="assets/img/Sidentifier.png" class="card-img">
                </div>
                <div class="col-md-6">
                    <div class="card-body h-100">
                        <div style="height: 90%;">
    
                            <form novalidate style="padding-top: 40%;" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                                <div class="form-group">                                   
                                    <input type="text" class="form-control" required id="userName" aria-describedby="userName" placeholder="Login" id="userName" name="userName" ngModel>
                                </div>
    
                                <div class="form-group">                                   
                                    <input type="password" class="form-control" required id="password" placeholder="Password" id="password" name="password" ngModel>
                                </div>
    
                                <button type="submit" class="btn btn-block" style="background:#E0E1E2;">Connexion</button>
                            </form>                             
                        </div>
    
                        <div class="float-right">
                            <!--<img src="assets/img/digilinksLogo.png" class="img-fluid">-->
                            <img src="assets/img/logoAhead.png" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>

</div>

