<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bgBreadCrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/tableauDeBord']">Home</a></li>
                <li class="breadcrumb-item"><a href="#" [routerLink]="['/Nve_Client']">Utilisateur</a></li>
                <li class="breadcrumb-item active" aria-current="page">Utilisateurs</li>
            </ol>
        </nav>
    </div>
</div>

<!-- List Users-->
<div class="card mb-4 CompagneCard">

    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Utilisateurs
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Nom Complet</th>
                        <th>Matricule</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Role</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngIf="!showusersList">
                        <td colspan="6" style="text-align: center;">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div>
                                <p>Chargement en cours...</p>
                            </div>
                        </td>
                    </tr>

                    <tr *ngFor="let user of usersList">
                        <td>{{ user.lastName }} {{ user.firstName }}</td>
                        <td>{{ user.matricule }}</td>
                        <td>{{ user.Email }}</td>
                        <td>{{ user.telNumber }}</td>
                        <td>
                            {{ user.role == 1 ? 'admin' : 'client'}}                                                      
                        </td>

                        <td class="linkBtn" style="cursor: pointer;" (click)='goToDetails(user)'>
                            <i class="fas fa-share"></i>                           
                        </td>

                        <td class="linkBtn" style="cursor: pointer; color: red;" (click)='desactivate(user)'>
                            <i class="fa fa-trash" aria-hidden="true"></i>                 
                        </td>
                        
                    </tr>

                </tbody>

            </table>
        </div>

    </div>

</div>