<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bgBreadCrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/tableauDeBord']">Home</a></li>
                <li class="breadcrumb-item"><a href="#" [routerLink]="['/Nve_Client']">Gestion Produits</a></li>
                <li class="breadcrumb-item active" aria-current="page">Produits Publicitaire</li>
            </ol>
        </nav>
    </div>
</div>

<!-- List Product types-->
<div class="card mb-4 CompagneCard">

    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Produits Publicitaire
    </div>

    <div class="card-body">

        <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">

                <thead>
                    <tr>
                        <th>Nom Type de produit</th>
                        <th>Prix</th>
                        <th>Couleur</th>
                        <th>Hauteur</th>

                        <th>Largeur</th>
                        <th>Unité</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    <tr *ngIf="!showList">
                        <td colspan="7" style="text-align: center;">
                            <div class="spinner-grow" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div>
                                <p>Chargement en cours...</p>
                            </div>
                        </td>
                    </tr>

                    <tr *ngFor="let productType of productTypesList">
                        <td>{{ productType.name }}</td>
                        <td>{{ productType.price | currency:'EUR':'symbol':'3.2-2':'fr' }}</td>

                        <td style="text-align: center;">
                            <input type="color" [value]="productType.color" disabled>
                        </td>

                        <td>
                            <span class="badge badge-light" *ngIf="productType.size != null">
                                {{ productType.size != null ? productType.size.height +' '+  getDimensionUnit(productType.size.unit) : ''}}
                            </span>
                        </td>

                        <td>
                            <span class="badge badge-light" *ngIf="productType.size != null">
                                {{ productType.size != null ? productType.size.width +' '+ getDimensionUnit(productType.size.unit) : ''}}
                            </span>                           
                        </td>

                        <td>
                            <span class="badge badge-light" *ngIf="productType.size != null">
                                {{ productType.size != null ? getDimensionUnit(productType.size.unit) : ''}}
                            </span>                             
                        </td>

                        <td>{{ productType.description}}</td>

                        <td class="linkBtn" style="cursor: pointer;" (click)='goToDetails(productType)'>
                            <i class="fas fa-info-circle"></i>                           
                          </td>

                    </tr>

                </tbody>

            </table>
        </div>

    </div>

</div>