<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bgBreadCrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/tableauDeBord']">Home</a></li>
        <li class="breadcrumb-item"><a href="#" [routerLink]="['/Nve_Client']">Client</a></li>
        <li class="breadcrumb-item active" aria-current="page">Clients</li>
      </ol>
    </nav>
  </div>
</div>

<!-- List Client-->
<div class="card mb-4 CompagneCard">

  <div class="card-header">
    <i class="fas fa-table mr-1"></i>
    Clients
  </div>

  <div class="card-body">

    <div class="table-responsive">
      <table class="table table-bordered" width="100%" cellspacing="0">

        <thead>
          <tr>
            <th>Name</th>
            <th>Taxe Id Number</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th></th>           
          </tr>
        </thead>

        <tbody>
          
          <tr *ngIf="!showCustomersList">
            <td colspan="6" style="text-align: center;">
              <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div>
                <p>Loading...</p>
              </div>
            </td>
          </tr>

          <tr *ngFor="let customer of customersList">
            <td>{{ customer.name }}</td>
            <td>{{ customer.taxIdNumber }}</td>
            <td>{{ customer.mail }}</td>
            <td>{{ customer.telNumber }}</td>

            <td>
              {{ customer.address.street }}
              {{ customer.address.townName }}
              {{ customer.address.countryName }}
            </td>

            <td class="linkBtn" style="cursor: pointer;" (click)='gotToDetails(customer)'>
              <i class="fas fa-share"></i>
              <!--<i class="fas fa-info-circle "></i>-->
            </td>

           
            
          </tr>

        </tbody>       

      </table>
    </div>
    
  </div>

</div>
